################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/FitCalc/bin/Debug
/FitCalc/obj/Debug
